# Secrets and personal tokens
cookies.txt
yt-cookies.txt
*.cookies
*.session

# MPV Cache & Watch later
cache/
shaders/
watch_later/
mpv-cache/
*.log

# Browser Extension local artifacts
Browser-Play-in-MPV/mpv_native_host/launch_host.bat
Browser-Play-in-MPV/mpv_native_host/mpv_launcher_host.json
*.zip